---
// import Socials from "./Socials.astro";
import { _t } from "@/i18n/lang";
import { SITE } from "@/config";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>
  <div
    class="flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4"
  >
    <!-- {SITE.displayOptions.showFooterSocialLinks && <Socials centered />} -->
    <div class="my-2 mx-auto flex flex-col items-center whitespace-nowrap sm:flex-row sm:flex-row text-[#969696] text-[11px]">
      {SITE.displayOptions.showCopyright && (
        <>
          <span>{_t.license.copyright} &#169; {currentYear}</span>
        </>
      )}
      {SITE.displayOptions.showCopyright && SITE.displayOptions.showStatement && (
        <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      )}
      {SITE.displayOptions.showStatement && (
        <>
          <span>{_t.license.statement}</span>
        </>
      )}

      {SITE.customFooterLink.enabled && (
        <a href={SITE.customFooterLink.url} target="_blank">
          {SITE.customFooterLink.text}
        </a>
      )}

      {(SITE.displayOptions.showCopyright ||
      SITE.displayOptions.showStatement ||
      SITE.icp) &&
      SITE.customFooterLink.enabled && (
        <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      )}

      {(SITE.displayOptions.showCopyright || SITE.displayOptions.showStatement) &&
        SITE.icp && <span class="hidden sm:inline">&nbsp;|&nbsp;</span>}
      {SITE.icp && (
        <a href="https://beian.miit.gov.cn/" target="_blank">
          {_t.license.icp} {SITE.icp}
        </a>
      )}
    </div>
  </div>
</footer>
