---
import IconX from "@/assets/icons/IconX.svg";
// import IconMoon from "@/assets/icons/IconMoon.svg";
// import IconSunHigh from "@/assets/icons/IconSunHigh.svg";
import IconMenuDeep from "@/assets/icons/IconMenuDeep.svg";
import { SITE } from "@/config";
import { _t } from "@/i18n/lang";
import YearProgress from "./YearProgress.astro";

const { pathname } = Astro.url;

const rawPath = pathname.replace(/\/index\.html$/, "/").replace(/\.html$/, "");
const currentPath = rawPath.endsWith("/") && rawPath !== "/" ? rawPath.slice(0, -1) : rawPath;

const isActive = (path: string) => {
  const currentPathArray = currentPath.split("/").filter(p => p.trim());
  const pathArray = path.split("/").filter(p => p.trim());

  return currentPath === path || currentPathArray[0] === pathArray[0];
};
interface Props {
  leadingTitle?: string;
  hideSiteTitle?: boolean;
  leadingTitleTransition?: string;
}
const { leadingTitle, hideSiteTitle, leadingTitleTransition } = Astro.props as Props;
---

<header>
  <a
    id="skip-to-content"
    href="#main-content"
    class="absolute -top-full left-16 z-50 bg-background px-3 py-2 text-accent backdrop-blur-lg transition-all focus:top-4"
  >
    Skip to content
  </a>
  <div
    id="nav-container"
    class="mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row"
  >
    <div
      id="top-nav-wrap"
      class="relative flex w-full items-center sm:items-baseline justify-between bg-background pb-2"
    >
      <a
        href="/"
        class="absolute text-lg leading-6 sm:text-xl sm:leading-7 sm:static max-w-[28ch] overflow-hidden text-ellipsis whitespace-nowrap sm:max-w-none sm:overflow-visible sm:text-clip"
      >
        {leadingTitle && (
          <span class="mr-2" transition:name={leadingTitleTransition}>{leadingTitle}</span>
        )}
        {!hideSiteTitle && SITE.title}
      </a>
      <nav
        id="nav-menu"
        class="flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0"
      >
        <button
          id="menu-btn"
          class="focus-outline self-end p-2 sm:hidden"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <IconX id="close-icon" class="hidden" />
          <IconMenuDeep id="menu-icon" />
        </button>
      </nav>
    </div>
  </div>
  <!-- <div class="mx-auto w-full">
    <hr class="border-skin-line" aria-hidden={true} />
  </div> -->
  <YearProgress />
  <nav aria-label="Primary" class="mx-auto w-full max-w-3xl">
    <ul
      id="menu-items"
      class:list={[
        "hidden",
        "my-2 flex flex-wrap gap-2",
        "[&>li>a]:block [&>li>a]:px-4 [&>li>a]:py-3 [&>li>a]:text-center [&>li>a]:font-medium [&>li>a]:hover:text-accent sm:[&>li>a]:px-0 sm:[&>li>a]:py-1",
        "[&>li>a]:text-[var(--nav-link)]",
        "sm:flex sm:gap-x-5 sm:gap-y-0",
      ]}
    >
      <li>
        <a href="/posts" class:list={{ "active-nav": isActive("/posts") }}>
          {_t.posts.title}
        </a>
      </li>
      <li>
        <a
          href="/categories"
          class:list={{ "active-nav": isActive("/categories") }}
        >
          {_t.categories.title}
        </a>
      </li>
      <!-- <li>
        <a href="/tags" class:list={{ "active-nav": isActive("/tags") }}>
          {_t.tags.title}
        </a>
      </li> -->
      <li>
        <a href="/feeds" class:list={{ "active-nav": isActive("/feeds") }}>
          {_t.feeds.title}
        </a>
      </li>
      <li>
        <a href="/about" class:list={{ "active-nav": isActive("/about") }}>
          {_t.about.title}
        </a>
      </li>
      {
        SITE.showArchives && (
          <li>
            <a href="/archives" class:list={{ "active-nav": isActive("/archives") }}>
              {_t.archives.title}
            </a>
            {/* <LinkButton
              href="/archives"
              class:list={[
                "focus-outline flex p-3 sm:p-1",
                {
                  "active-nav [&>svg]:stroke-accent": isActive("/archives"),
                },
              ]}
              ariaLabel={_t.archives.title}
              title={_t.archives.title}
            >
              <IconArchive class="hidden sm:inline-block" />
              <span class="sm:sr-only">{_t.archives.title}</span>
            </LinkButton> */}
          </li>
        )
      }
      <li class="flex items-center">
        <a href="/search" class:list={{ "active-nav": isActive("/search") }}>
          {_t.search.title}
        </a>
        <!-- <LinkButton
          href="/search"
          class:list={[
            "focus-outline flex p-3 sm:p-1",
            { "[&>svg]:stroke-accent": isActive("/search") },
          ]}
          ariaLabel={_t.search.title}
          title={_t.search.title}
        >
          <IconSearch />
          <span class="sr-only">{_t.search.title}</span>
        </LinkButton> -->
      </li>
      {
        SITE.lightAndDarkMode && (
          <li class="flex items-center">
            <button
              id="theme-btn"
              class="focus-outline block px-4 py-3 sm:px-0 sm:py-1 hover:text-accent text-[var(--nav-link)] font-medium"
              title={_t.common.themeBtn}
              aria-label="auto"
              aria-live="polite"
            >
              <span class="transition-all dark:hidden whitespace-nowrap">{_t.common.dark}</span>
              <span class="transition-all hidden dark:inline whitespace-nowrap">{_t.common.light}</span>
            </button>
          </li>
        )
      }
    </ul>
  </nav>
</header>

<script>
  function toggleNav() {
    const menuBtn = document.querySelector("#menu-btn");
    const menuItems = document.querySelector("#menu-items");
    const menuIcon = document.querySelector("#menu-icon");
    const closeIcon = document.querySelector("#close-icon");

    if (!menuBtn || !menuItems || !menuIcon || !closeIcon) return;

    menuBtn.addEventListener("click", () => {
      const openMenu = menuBtn.getAttribute("aria-expanded") === "true";
      menuBtn.setAttribute("aria-expanded", openMenu ? "false" : "true");
      menuBtn.setAttribute("aria-label", openMenu ? "Open Menu" : "Close Menu");

      menuItems.classList.toggle("hidden");
      menuIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
